In [2]:
import pandas as pd
import pyodbc


conn = pyodbc.connect(dbname=creds['dbname'], host=creds['host'], user=creds['user'], password=creds['password'], port=creds['port'])

sql_query_string="""SELECT
df= pd.read_sql('sql_query_string', conn)

IndentationError: unexpected indent (<ipython-input-2-7bddf30608b8>, line 7)

In [7]:
print ('jupiter')

jupiter

In [1]:
import pymssql as sq

conn=sql.connect?